* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
}

/* Checkerboard CSS Start */
.checkerboard {
    padding: 7px 7px 0px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 828px;
    border: 1px solid black;
}

.blackstart {
    height: 107px;
    width: 828px;
}

.whitestart {
    height: 107px;
    width: 828px;
}

.black {
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
}

.white {
    width: 100px;
    height: 100px;
    background-color: white;
    display: inline-block;
}